In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [28]:
df=pd.read_csv("cardekho_dataset.csv",index_col=[0])

In [29]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [30]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [31]:
##Remove Unenessary Columns
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [32]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [33]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [34]:
#Getting all types of features
num_features=[feature for feature in df.columns if df[feature].dtype!='object']
print("Num Features: ",num_features)
cat_features=[feature for feature in df.columns if df[feature].dtype=='object']
print("Cat Features: ",cat_features)
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print("Discrete Features: ",discrete_features)
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print("Continuous Features: ",continuous_features)

Num Features:  ['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']
Cat Features:  ['model', 'seller_type', 'fuel_type', 'transmission_type']
Discrete Features:  ['vehicle_age', 'seats']
Continuous Features:  ['km_driven', 'mileage', 'engine', 'max_power', 'selling_price']

In [35]:
##Independent and Dependent Features
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [36]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [37]:
len(df['model'].unique())
## use label encoder

120

Feature Encoding and Scaling

One hot encoding for columns which had lesser unique values

In [38]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [39]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [40]:
print(len(df['seller_type'].unique()))
print(len(df['fuel_type'].unique()))
len(df['transmission_type'].unique())
## less number we can use one hot encoding

3
5

2

In [41]:
num_features=X.select_dtypes(exclude="object").columns
onehot_columns=['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')
preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
    )

In [42]:
X=preprocessor.fit_transform(X)

In [43]:
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((12328, 14), (3083, 14), (12328,), (3083,))

MODEL TRAINING AND SELECTION

In [45]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [46]:
##Create a function to evaluate the model
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mse)
    r2_square=r2_score(true,predicted)
    return mae,rmse, r2_square

In [47]:
#Beginning the model training
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Adaboost Regressor":AdaBoostRegressor(),
    "GradientBoostingRegressor":GradientBoostingRegressor()
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    #Make predictions
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    #Evaluate train and test dataset
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)
    print(list(models.keys())[i])
    print("Model performance on train dataset")
    print("Root Mean Squared Error: ",model_train_rmse)
    print("Mean Absolute Error: ",model_train_mae)
    print("R2 Score: ",model_train_r2)
    print("=---------------------------------------")
    print("Model performance on test dataset")
    print("Root Mean Squared Error: ",model_test_rmse)
    print("Mean Absolute Error: ",model_test_mae)
    print("R2 Score: ",model_test_r2)
    print("="*35)

Linear Regression
Model performance on train dataset
Root Mean Squared Error:  553855.6665411663
Mean Absolute Error:  268101.6070829937
R2 Score:  0.6217719576765959
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  502543.5930230985
Mean Absolute Error:  279618.57941584283
R2 Score:  0.6645109298852004
===================================
Lasso
Model performance on train dataset
Root Mean Squared Error:  553855.6709544231
Mean Absolute Error:  268099.2226498115
R2 Score:  0.6217719516489697
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  502542.66963789385
Mean Absolute Error:  279614.7461034126
R2 Score:  0.6645121627547996
===================================
Ridge
Model performance on train dataset
Root Mean Squared Error:  553856.3159709624
Mean Absolute Error:  268059.8014688311
R2 Score:  0.6217710706848424
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  502533.8229890289
Mean Absolute Error:  279557.2168930274
R2 Score:  0.6645239743566809
===================================
Decision Tree
Model performance on train dataset
Root Mean Squared Error:  20797.23516567643
Mean Absolute Error:  5164.819922128488
R2 Score:  0.9994666998284044
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  304414.59184828104
Mean Absolute Error:  124662.76624499945
R2 Score:  0.8768989302056949
===================================
Random Forest
Model performance on train dataset
Root Mean Squared Error:  131790.0136907452
Mean Absolute Error:  39886.013133547
R2 Score:  0.9785846328558079
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  231548.31269201744
Mean Absolute Error:  102404.56805917982
R2 Score:  0.9287780047441037
===================================
Adaboost Regressor
Model performance on train dataset
Root Mean Squared Error:  413040.3900005966
Mean Absolute Error:  276409.7158589205
R2 Score:  0.7896485246753181
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  444772.3262787815
Mean Absolute Error:  294274.2192115234
R2 Score:  0.7372114672215209
===================================
GradientBoostingRegressor
Model performance on train dataset
Root Mean Squared Error:  204944.5103819788
Mean Absolute Error:  111709.55583715503
R2 Score:  0.9482115279622282
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  255165.29167244205
Mean Absolute Error:  126315.4471186902
R2 Score:  0.9135083673683327
===================================

In [48]:
#Random forest iis performing well r2 score
rf_params={
    "max_depth":[5,8,15,None,10],
    "max_features":[5,7,"auto",8],
    "min_samples_split":[2,8,15,20],
    "n_estimators":[100,200,500,1000],

}
adaboost_param={
    "n_estimators":[50,60,70,80],
    "loss":['linear','square','exponential']
    
}
gradient_params={
    'loss':['squared_error','huber','absolute_error'],
                 'criterion':['friedman_mse','squared_error','mse'],
                 'min_samples_split':[2,8,15,20],
                 'n_estimators':[100,200,500,1000],
                 'max_depth':[5,8,15,None,10],
                 'learning_rate':[0.1,0.01,0.001,0.02,0.03]
}

In [49]:
randomcv_models=[('RF',RandomForestRegressor(),rf_params),
                 ('Adaboost',AdaBoostRegressor(),adaboost_param),
                 ('Gradient Boost',GradientBoostingRegressor(),gradient_params)]

In [50]:
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name,model,params in randomcv_models:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name]=random.best_params_
    for model_name in model_param:
        print(f"--------------------Best Params for {model_name}--------------------------")
        print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
72 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
39 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
33 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.82120892 0.84602566 0.84466017 0.83858176        nan 0.85185709
 0.84757457 0.83365837 0.85796844 0.8402306         nan 0.78810976
        nan        nan 0.79449625 0.83571655 0.83947622 0.83660643
        nan        nan 0.76150773        nan        nan        nan
        nan 0.7946063         nan 0.84067523 0.83948013 0.85523936
        nan        nan 0.865828          nan 0.83207476 0.78082193
 0.85431496        nan 0.83824319 0.83591645 0.84723138 0.76698043
 0.8496375         nan 0.82712455 0.84528909 0.79312712 0.85626918
 0.80011794        nan 0.82789542 0.83255744 0.83532587 0.79638676
        nan 0.83694139        nan 0.81879097 0.84903314 0.78656177
 0.84683917        nan 0.84981857 0.79423497 0.79580578 0.84010557
 0.82710973 0.85587358 0.83634138 0.84405431 0.84337428        nan
 0.79660228 0.7947474  0.84711712 0.82335574 0.85927613        nan
 0.84132019 0.82874944 0.85215343 0.82923687 0.85341942 0.83009223
 0.84920394 0.83948663 0.83168639        nan 0.83562196 0.84008454
 0.82356279 0.83831706 0.79823718 0.84429692 0.84073179 0.84409478
 0.78479052        nan 0.79582238 0.82560793]
  warnings.warn(

--------------------Best Params for RF--------------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
Fitting 3 folds for each of 12 candidates, totalling 36 fits

c:\Users\Lenovo\Desktop\Python\venv\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 12 is smaller than n_iter=100. Running 12 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

--------------------Best Params for RF--------------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
--------------------Best Params for Adaboost--------------------------
{'n_estimators': 70, 'loss': 'linear'}
Fitting 3 folds for each of 100 candidates, totalling 300 fits

KeyboardInterrupt:

In [ ]:
#Retraining
models={
    "Random Forest Regressor":RandomForestRegressor(max_depth=15,max_features=5,min_samples_split=2,n_estimators=1000),
    "Adaboost Regressor":AdaBoostRegressor(n_estimators=50,loss='linear'),
    "Gradient Regressor":GradientBoostingRegressor(n_estimators=,min_samples_split=,)
    
    
}

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    #Evaluate train and test dataset
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)
    print(list(models.keys())[i])
    print("Model performance on train dataset")
    print("Root Mean Squared Error: ",model_train_rmse)
    print("Mean Absolute Error: ",model_train_mae)
    print("R2 Score: ",model_train_r2)
    print("=---------------------------------------")
    print("Model performance on test dataset")
    print("Root Mean Squared Error: ",model_test_rmse)
    print("Mean Absolute Error: ",model_test_mae)
    print("R2 Score: ",model_test_r2)
    print("="*35)

Random Forest Regressor
Model performance on train dataset
Root Mean Squared Error:  141207.9887335738
Mean Absolute Error:  55975.885481678044
R2 Score:  0.9754144995668297
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  208889.16387804126
Mean Absolute Error:  97652.723555174
R2 Score:  0.9420354167206167
===================================
Adaboost Regressor
Model performance on train dataset
Root Mean Squared Error:  401011.7535726331
Mean Absolute Error:  273366.4156700805
R2 Score:  0.8017219122015256
=---------------------------------------
Model performance on test dataset
Root Mean Squared Error:  445698.48277368763
Mean Absolute Error:  294022.63623370446
R2 Score:  0.7361159102702843
===================================